*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HLT bauserif;
    font-family: Bauhaus-medium;
}
@font-face {
    font-family:HLT bauserif;
    src: url("font/HLT bauserif.ttf");
}
@font-face {
    font-family:Bauhaus-medium;
    src: url("font/bauhaus-medium.ttf");
}
@font-face {
    font-family:Bauhaus-light;
    src: url("font/VL BAUHAUSSTD LIGHT.OTF");
}
/* ========Header======= */
header{
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 9rem;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}
.toggle{
    display: none;
    background: #3b3a3a;
    color: #FFFFFF;
    text-align: right;
    padding: 7px;
    font-size: 22px;
    cursor: pointer;
}
.logo{
    display: inline-flex;
}
.logo01 {
    height: 80px;
    align-self: auto;
    padding: 0px 20px;
    
}
.logo02{
    height: 90px;
    align-self: center;
}
.menu-nav-ul li{
    display: inline-flex;
    list-style: none;
}
.menu-nav-ul li a {
    text-decoration: none;
    font-family:  HLT bauserif;
    font-size:26px;
    color: black;
    padding: 25px 20px;
}
.menu-nav-ul li a:hover{
    color: white;
    background-color:#53c077;
    transition: all 0.3s;
}
/* ============Main=========== */
main{
    margin: auto;
}
.slideshow-container{
    position: relative;
}
.mySlides {
    display: none;
}
.mySlides img{
   width: 100%;
   height: auto;
}
.mySlides .text{
    position: absolute;
    top: 122px;
    left: 56.4%;
    width: 36%;
    background: none;
    padding: 50px;
}
@keyframes text{
    from{opacity: 0;}
    to{opacity: 1;}
}
.text .p-1{ 
    color: white;
    font-family:  HLT bauserif;
    font-style: normal;
    font-weight: normal ;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 70px;
}.text .p-2{
    font-family:  HLT bauserif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 21px;
    padding-bottom: 70px;
}
.text .button-banner{
    background: #21E67B;
    text-decoration: none;
    padding: 15px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    font-family:Bauhaus-medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: white;
}
.text .button-banner:hover{
    background: #9eb0a6;
}
 
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;

    margin: -50px 120px 0px 120px;
    padding: auto;
    text-align: center;
    line-height: 75px;
    color:white;
    width: 65px;
    height: 65px;
    font-size: 40px;
    transition: 0.6s ease;
    border: 1px;
    background: rgba(196, 196, 196, 0.48);
    border-radius: 50%;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 50%;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.prev:hover, .next:hover{
    background: #21E67B;
}
.nav-dot{
    text-align: center;
    margin-bottom: 50px;
    margin-left: 40px;
}

.dot {
    position: relative;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: -124px 2px 124px 2px;
    background-color: rgba(0, 0, 0, 0.51);;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #21E67B;
}
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* =============Blog============== */
.Post-layout{
    margin-left: 180px;
    display: grid;
    grid-gap:80px;
    grid-template-columns: 7fr 5fr 2fr;
    grid-template-rows: 477px 350px 180px;
}
.item3 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
}
.blog-01{
    position: relative;
}
.blog-01 img{
    width: 100%;
    height: auto;
}
.blog-02{
    position: relative;
}
.blog-02 img{
    
    width: 98.5%;
    height: auto;
}
.text-blog-2{
    position: absolute;
    top:20px;
    left:45px;
}
.text-blog-2 .h2-blog-02{
    width: 385px;
    height: 114px; 
    color: black;
    font-family: Bauhaus-medium;
    font-style: normal;
    font-weight: normal ;
    font-size: 45px;
    line-height: 46px;
    padding: 60px 0px 35px 0px;
}.text-blog-2 .content-blog-02{
    width: 215px;
    height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    padding: 60px 0px 50px 0px;
    margin-bottom:50px ;
}
.text-blog-2 .button-layout-left{
    text-decoration: none;
    justify-content: center;
    padding: 10px 30px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;

    width: 197px;
    height: 23.82px;

    font-family:Bauhaus-medium;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 19px;
    color: black;
}
.text-blog-2 .button-layout-left:hover{
    background: gray;
}
.blog-03{
    position: relative;
}
.blog-03 img{
    width: 82%;
    height: auto;
}
.text-blog-3{
    position: absolute;
    top:170px;
    left: 65px;   
}
.text-blog-3 .note-blog-3{
    width: 573px;
    height: 50px;
    font-family: HLT bauserif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.text-blog-3 .h2-blog-03{
    width: 450px;
    height:168px;
    font-family: HLT bauserif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}
.text-blog-3 .content-blog-03{
    width: 352px;
    height: 110px;

    font-family: Bauhaus-medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}
.text-blog-3 .button-layout-right{
    text-decoration: none;
    width: 158px;
    height: 46px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Bauhaus-medium;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
    padding: 8px 22px 8px 22px;
}
.text-blog-3 .button-layout-right:hover{
    background: gray;
}
/* ====================New===================== */
.new-container{
    margin: 20px 150px 130px 185px;
}
.new-container .h1-new{
    width: 400px;
    height: 75px;
    margin-left: 2px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
}
.prev-new, .next-new{
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-top: -70px;
    margin-right: 9.9rem;
    margin-left: 90rem;
    padding: 0px 12px 0px 10px;
    line-height: 55px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.48);
    user-select: none;
} 
.next-new {
    right: 0;
    border-radius: 50%;
} 
 
.prev-new:hover, .next-new:hover {
    background-color: rgba(0,0,0,0.8);
}
.prev-new:hover, .next-new:hover{
    background: #21E67B;
}
.image{
    height: 360px;
    margin:20px 5px 20px -20px ;
    padding: 0 30px;
}
.image img{
    width: 100%;
    height: 440px;
    object-fit: cover;
}
.text-new{
    margin-top: 10pc;
    margin-left: 15px;
    margin-bottom: 20px;
}
.text-new .h2-new{
    width: 370px;
    height: 60px;
    font-family: Bauhaus-medium;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 28px;
    color: #61A952;
}
.text-new .p-content-new{
    width: 375px;
    height: 90px;
    font-family: bauhaus-light;
    font-weight: 1000px;
    font-size: 16px;
    line-height: 17px;
}
.slick-initialized .slick-slide{
    margin: 0 13px;
} 
.slick-dots{
    list-style: none;
    position: absolute;
    margin-left: 42.5pc;
    transform: translateX(-50%,0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}
.slick-dots button{
    font-size: 0;
    width:15px;
    height: 15px;
    border-radius: 100rem;
    background-color: rgba(0, 0, 0, 0.51);
    border: none;
    outline: none;
    transition: all 0.2s linear;
}
.slick-dots .slick-active button{
    background: #21E67B;
}
/* ========================blog==================== */
.blog-container{
    margin: 20px 150px 130px 185px;
}
.blog-container .h1-blog{
    width: 400px;
    height: 75px;
    margin-left: 2px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
}

.prev-blog, .next-blog{
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-top: -70px;
    margin-right: 9.9rem;
    margin-left: 90rem;
    padding: 0px 12px 0px 10px;
    line-height: 55px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.48);
    user-select: none;
} 
.next-blog {
    right: 0;
    border-radius: 50%;
} 
 
.prev-blog:hover, .next-blog:hover {
    background-color: rgba(0,0,0,0.8);
}
.prev-blog:hover, .next-blog:hover{
    background: #21E67B;
}
.blog-image{
    height: 360px;
    margin:20px 5px 20px -20px ;
    padding: 0 30px;
}
.blog-image img{
    width: 100%;
    height: 440px;
    object-fit: cover;
}
.text-blog{
    margin-top: 10pc;
    margin-left: 15px;
    margin-bottom: 50px;
}
.text-blog .h2-blog{
    width: 370px;
    height: 60px;
    font-family: Bauhaus-medium;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 28px;
    color: #61A952;
}
.text-blog .p-content-blog{
    width: 375px;
    height: 60px;
    font-family: bauhaus-light;
    font-style: normal;
    font-weight: 1000px;
    font-size: 16px;
    line-height: 17px;
}
/* ==============================Footer========================== */
hr{
    margin:0px 12.5pc ;
    width: 80%;
    height: 8px;
    background: #c2bcbc;
}
.content-logo{
    display: inline-block;
    margin-left: 25pc;
}
.content-logo img{
    width: 195px;
    height: auto;
    padding: 0px 40px 0px 20px;
}
.content-footer{
    position: relative;
    width: 100%;
    height: 412px;
    border: 1px;
    background: rgba(218, 218, 218, 0.69);
}

.logo-web{
    display: inline-flex;
    gap:0 15px;
    margin-left: 54.6pc;
}
.logo-web img{
    width: 100%;
    height: auto;
    margin: 70px 0 -15px 0;
}

.menu-footer-nav-ul{
    margin-left: 48pc;
}
.menu-footer-nav-ul li{
    display: inline-flex;
    list-style: none;
}
.menu-footer-nav-ul li a{
    text-decoration: none;
    font-family: HLT bauserif;
    font-size:20px;
    color: black;
    padding: 20px 10px;
}
.icon-footer-nav{
    margin-left: 51pc;
    margin-bottom:30px;
}
.icon-footer-nav-ul li{
    display: inline-flex;
}
.icon-footer-nav-ul li i{
    text-decoration: none;
    font-size:35px;
    color: black;
    padding: 5px 20px;
}
.methor{
    display: flex;
    margin-left:50pc;
    margin-bottom: 5px;
}
.icon-methor{    
    width: 15pt;
    height: 15pt;
    margin-top:-4px;
}
.test-methor{
    display: block;
}
.p1{
    font-family:Roboto, sans-serif;
    padding-left: 32px;
    padding-bottom: 7px;
    font-size: 12px;
    color: black;
}


.p2{
    margin-left:58px ;
    font-family:Roboto, sans-serif;
    font-size: 12px;
    color: black;
}



